# Compiled object files
*.o
*.out
*.bin

# Dependency files
*.d

# Executable files
simulator
main

# Debug and log files
*.log

# Temporary files
*.tmp
*.swp
*.swo
*~

# Build directory (if you use one)
build/

# IDE and editor files
.vscode/
.idea/
*.iml



.vscode
Makefile
